h3 {
	font-size: 15px;
	width:  400pt;
	height: 4cm;
	padding : 20px;
	margin : 40px;
	border : double;
	border-color: #800000;
	background : #FF69B4;
 }

/*Grotha Szymon, klasa 1P grupa 2*/